!!!5
html
  head
    title Mic Flo - Jettin and Fly Society
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='/js/foundation.js')
    script(src='//connect.soundcloud.com/sdk.js')
    script(src='https://w.soundcloud.com/player/api.js')
    script(type='text/javascript', src='/js/soundmanager2.js') 
    script(type='text/javascript', src='/js/what.js')

    meta(name="viewport",content="width=device-width, initial-scale=1")

  body
    #wrapper 
      .row
        .large-6.small-12.columns
          .album
            .artwork
              img(src='/images/fly-society.svg')

          .coming-soon.show-for-medium-up
            .small-artwork 
              img(src='images/fly.png')      
            .title Forgetting Lost Youth, Coming 2013 


        .large-5.small-12.columns.tracklist
          .song
            .name Jettin
            .track
              .track-number 01
              .song-details
                .name Fly Mixtape Version
                .producer "Dink" by Dj Premier
            .track 
              .track-number 02
              .song-details
                .name Chop Steak Remix
                .producer Produced by 
                  a(href='http://www.twitter.com/chopsteak') Chop Steak
            .track 
              .track-number 03
              .song-details
                .name Haris Qureshi Remix
                .producer Produced by 
                  a(href='http://lnscrew.bandcamp.com/') Haris Qureshi
          .song 
            .name Fly Society
              .featuring Featuring 20/20 and Rad
              .track
                .track-number 04
                .song-details
                  .name Fly Mixtape Version
                  .producer "Tickets for 2" by Ski Beatz 
              .track 
                .track-number 05
                .song-details
                  .name Soul 20/20 Remix
                  .producer Produced by 
                    a(href='https://soundcloud.com/ikeaka2020') 20/20
              .track 
                .track-number 06
                .song-details
                  .name Chop Steak Remix
                  .producer Produced by 
                    a(href='http://www.twitter.com/chopsteak') Chop Steak
          //-button.download Download
          iframe(id='soundcloud-widget', 
            src="https://w.soundcloud.com/player/?url=https://soundcloud.com/casualsophistication/sets/got_it_for_cheap-july-2013&amp;auto_play=false&amp;auto_advance=true&amp;buying=true&amp;liking=true&amp;download=true&amp;sharing=true&amp;show_artwork=true&amp;show_comments=true&amp;show_playcount=true&amp;show_user=true&amp;start_track=0&amp;callback=true",
            frameborder='no'
            width=500,
            height=400)

      .row
        .personal
          .large-4.small-12.columns.links
            .avatar 
              img(src='/images/winslowtop.jpg')
            .data
              .artist-name Mic Flo
              .artist-city 
                i.icon-map-marker
                |  Texas
                br
                a(href='https://soundcloud.com/fleezyfleez')
                  i.icon-cloud
                a(href='https://www.facebook.com/FleezyFleez')
                  i.icon-facebook-sign
                a(href='http://instagram.com/nigelblack')
                  i.icon-camera


          .large-8.small-12.columns.bio
            p Dr. Michael Lloyd Richardson, M.D., commonly known as Fleezy Fleez, Mic Flo, Nigel Black, Fleezy, and Mike (of Mike and Ike), releases his solo debut project that contains, arguably, his greatest and most intense music of all time: F.L.Y. (Forgetting Lost Youth)
            p Mike is best known for his deep vocals and impeccable rhyme schemes as a founding member of the duo Mike and Ike while he studied the art of medicine in Austin, Texas. Described as a perfect blend of funk, jazz, and hip hop, the duo cultivated a new sound unique to the rap world. Their album, Introducing, earned a number of accolades, awards, and a large fan base, in Texas and beyond.  Their music video, Classic Sound, and their collaborative video with Hero & Rad, Smoothness, Coolness, continue to accumulate YouTube hits and positive feedback years after their release. 
            p Michael Richardson boasts a long repertoire of live performances across the nation, numerous group and solo projects, guest appearances, and special awards.  His most cherished claim to fame is “Mike and Ike” day as proclaimed by Austin’s mayor, Will Wynn, June 5 of every year.
            p Now, Richardson grows up in the first mixtape of his upcoming trilogy.  Michael exquisitely develops rhymes ranging from young, comedic arrogance to the mature, introspective uncertainty of independence.  Having visited Russia, Haiti, Israel, Palestine, Malawi, United Arab Emirates, Canada and Mexico within a 1 year timespan, Mike was both inspired and transformed along his journeys. In this project, F.L.Y. (Forgetting Lost Youth), he explores controversial global issues as he searches to find himself and his calling.  However, as serious as the topics become Mike never fails to maintain his sense of humor and wit.  He consequently wins people of all cultures over with his charm and humility in a project that will excite people of all walks of life.  

footer
  .footer
    .logos.large-8.small-centered.columns
      .logo
        a(href='http://www.thehonestape.com', target="_blank")   
          img(src='/images/tha-logo.svg')    
      .logo
        a(href='http://www.casualsophistication.org', target='_blank')
         img(src='/images/cs-logo.svg')
    .controls
      button.play
        i.icon-play     
        i.icon-pause
      button.prev
        i.icon-backward    
      button.next
        i.icon-forward
            

