/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,800,700');

/*song
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #F04C3D
red = #F04C3D
dark = #05273A
yellow = #EAB82A

body
html
  background red
  color #fff
  height 100%
  font-family 'Open Sans', sans-serif;
a
  text-decoration none
  color dark
  &:hover
    color yellow


header
  padding 50px 10px
  color #fff
  font-size 25px
  text-align center
#wrapper
  background red
  min-height 100%
  height 100%
  margin 0 auto -40px
  padding 30px
  &:after
    content ''
    display block
    height 40px
.row
  max-width 90% !important

.album
  display block
  text-align center
  width 100%      
  overflow visible


  .artwork  
    width 100%    
    display inline-block
    margin 20px 0px 20px 0px
    img
      width 100%
      height 100%
#soundcloud-player
  position relative

.tracklist
    margin-left 10px
    font-family 'Open Sans', sans-serif;
    text-transform uppercase
    .song 
      display block
      margin-bottom 50px
    .name 
      font-weight 700
      font-size 30px
      color dark
      display block
      float left
      margin-top 10px
    .featuring
      font-size 14px
      color white
    .track-number
      color yellow
      display inline-block
      font-weight 800
      font-size 50px
      float left
    .track
      float left
      width 100%
.song-details
      float left
      font-size 12px
      color dark
      margin-top 10px
      margin-left 5px
      .name
         font-weight 700
         font-size 14px
         width 100%
         margin-top 0px
      .producer
          font-weight 400
          width 100%
      a
        color dark
        text-decoration none
        transition all .25s ease
        &:hover
          color yellow
.download
  font-size 20px
  margin-top 20px
  border 1px solid dark
  background transparent
  padding 20px
  width 100%
  border-radius 5px
  text-transform uppercase
  float left
  color dark    
  font-family 'Open Sans', sans-serif;
  font-weight 400
  transition all .25s ease
  &:hover
    background dark
    color red

.audio
  display block
  margin-top 40px
.links
  display inline-block
.avatar
  width 200px
  height 200px
  border-radius 100px
  overflow hidden
  margin-bottom 20px
  display inline-block
.data
.artist-name
.artist-city
  color dark
  font-size 20px
  display block
  width 100%
  text-align center
.artist-name
  font-weight 700
  font-size 30px
.personal
  margin-top 40px
  padding-top 20px
  border-top 1px solid dark
  text-align center
  display inline-block
  a
    margin-right 10px
.bio
  font-size 16px
  font-weight 400
  line-height 25px
  color dark
  text-align left
  a
    text-decoration underline
    margin-right 5px
    &:hover
      color yellow

  p 
    margin-bottom 15px

footer
  width 100%
  height 40px
  background #05273A
  position fixed


