/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body,
html {
  background: #f04c3d;
  color: #fff;
  height: 100%;
  font-family: 'Droid Sans', sans-serif;
}
header {
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
#wrapper {
  background: #f04c3d;
  min-height: 100%;
  height: 100%;
  margin: 0 auto -40px;
}
#wrapper:after {
  content: '';
  display: block;
  height: 40px;
}
.album {
  display: block;
  text-align: center;
}
.album .artwork {
  width: 400px;
  height: 400px;
  display: inline-block;
  margin-top: 20px;
  background-image: url("/images/fly-society.svg");
  background-repeat: no-repeat;
}
.tracklist {
  margin-left: 10px;
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
}
.tracklist .song {
  margin-top: 20px;
  display: block;
}
.tracklist .name {
  font-weight: 700;
  font-size: 30px;
  color: #05273a;
  display: block;
  float: left;
}
.tracklist .featuring {
  font-size: 14px;
  color: #fff;
}
.tracklist .track-number {
  color: #eab82a;
  display: inline-block;
  font-weight: 700;
  font-size: 50px;
  float: left;
}
.tracklist .track {
  margin-top: 10px;
  float: left;
  width: 100%;
}
.song-details {
  float: left;
  font-size: 12px;
  color: #05273a;
  margin-top: 10px;
}
.song-details .name {
  font-weight: 700;
  font-size: 14px;
  width: 100%;
}
.song-details .producer {
  font-weight: 400;
  width: 100%;
}
.song-details a {
  color: #05273a;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.song-details a:hover {
  color: #eab82a;
}
.download {
  border: 1px solid #05273a;
  background: transparent;
  padding: 20px;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  float: left;
  color: #05273a;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 400;
}
.audio {
  margin-top: 20px;
}
footer {
  width: 100%;
  height: 40px;
  background: #05273a;
}
